/**
** @author Alexander CD
** @date 03/12/2018
**/
div{
	font-family: 'Rubik' !important;
	font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik' !important;
}

.carousel-indicators > li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #044D7E !important;
}

.background-nav{
	background-color: rgb(0, 72, 119, 0.3) !important;
}

.background-service{
	background-color: rgb(0, 72, 119);
}

.color-nav-text{
	color: #FFF !important;
}

.center-text-carousel{
	margin-bottom: 20% !important;
}

.col-without-padding{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

.pull-right-nav{
	flex-grow: 0 !important;
}

.nav-item-margin{
	margin-left: 50px;
}

.line-nav{
	border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: #FFF;
    border: 3px solid;
    padding-bottom: 0px;
}

/** Servicios **/
.margin-servicos{
	padding-top: 5%;
}

.margin-servicos-t1{
	padding-top: 5%;
}

.margin-servicos-t2{
	padding-top: 10%;
}

.margin-servicos-t3{
	padding-top: 15%;
}

.margin-servicos-p{
	padding-top: 25%;
}

/** Beneficios **/
.arrow-lg {
     width: 0; 
     height: 0; 
     border-left: 100px solid #152C50;
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent; 
}

.arrow-md {
     width: 0; 
     height: 0; 
     border-left: 75px solid #152C50;
     border-top: 37px solid transparent;
     border-bottom: 37px solid transparent;
}

.arrow-sm {
     width: 0; 
     height: 0; 
     border-left: 50px solid #152C50;
     border-top: 25px solid transparent;
     border-bottom: 25px solid transparent; 
}

.rectangle-md {
	background-color: #152C50;
	color: #FFF;
	width: 70%;
	height: 40px;
	margin-top: 15px;
}


.arrow-center {
	margin-top: 5px;
   	margin-bottom: 5px;
    font-size: .8em;
	margin-left: 25%;
}

@media (min-width: 430px){
	.arrow-center {
		margin-top: 10px;
   	 	margin-bottom: 10px;
		margin-left: 0%;
	}

	.margin-form-contacto {
		margin: 0px;
		margin-top: 0%;
		margin-bottom: 1%;
		padding: 15px;
		padding-top: 35px;
	}

	.margin-contacto {
		margin-top: 10px;
	}
	div{
		font-family: 'Rubik' !important;
		font-size: 1em;
	}
	
	.center-text-carousel{
		margin-bottom: 5% !important;
	}
	
	.d-md-block {
    	display: block!important;
	}
	.h1-class{
		margin-bottom: 0px; 
		margin-top: 0px; 
		font-size: 1em;
	}
}


@media (min-width: 868px){
	.arrow-center {
		margin-top: 10px;
		margin-left: 0px;
	}

	.margin-form-contacto {
		margin: 0px;
		margin-top: 7%;
		margin-bottom: 7%;
		padding: 15px;
		padding-top: 35px;
	}

	.margin-contacto {
		margin-top: 15px;
	}

	div{
		font-family: 'Rubik' !important;
		font-size: 1.1em;
	}

	.center-text-carousel{
		margin-bottom: 10% !important;
	}

	@-moz-keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		} 
  		to {
    		margin-right:60%;
  		}
	}

	@-webkit-keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		}
  		to {
    		margin-right:60%;
  		}
	}

	@keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		}
  		to {
    		margin-right:60%;    	
  		}
	}	
}

@media (min-width: 1100px){
	.arrow-center {
		margin-top: 5px;
   	 	margin-bottom: 5px;
    	margin-left: 300px;
	}

	.margin-form-contacto {
		margin: 0px;
		margin-top: 10%;
		margin-bottom: 10%;
		padding: 15px;
		padding-top: 35px;
	}

	.margin-contacto {
		margin-top: 15px;
	}

	div{
		font-family: 'Rubik' !important;
		font-size: 1.1em;
	}

	.carousel-index, .carousel-inner-index > .item > img {
  		height: 510px;
	}
	
	.carousel-index, .carousel-inner-index > .item {
 		height: 510px;
	}

	.carousel-index, .carousel-inner-index{
  		height: 510px;
	}

	.center-text-carousel{
		margin-bottom: 20% !important;
	}

	.h1-class{
		font-size: 1.5em;
	}

	@-moz-keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		} 
  		to {
    		margin-right:70%;
  		}
	}

	@-webkit-keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		}
  		to {
    		margin-right:70%;
  		}
	}

	@keyframes arrow-trans {
  		from {
    		margin-right:100px;
  		}
  		to {
    		margin-right:70%;    	
  		}
	}
}

.arrow-trans {
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -moz-animation-name: arrow-trans;
  -webkit-animation-name: arrow-trans;
  animation-name: arrow-trans;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/** Contacto **/

.card{
	border: 2px solid;
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-radius: 0px;
	border-top-color: #004877 !important;

}

.color-item-text{
	background-color: #004877;
	width: 40px;
	height: 40px;
}

.btn-aserfi {
	background-color: #004877 !important;
    border-color: #004877 !important;
}

.btn-round{
	border-radius: 50%;
}

.btn-round-inicio{
	position: absolute;
    margin-top: -20px;
	border-radius: 50%;
	border: 2px;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255) !important;
}

.bg-contacto{
	/* Half height */
  	height: 50%;
}

/** Footer **/
.bg-footer {
	background-color: #21202D;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid;
	border-right: none;
	border-left: none;
	border-top-color: #337AB7;
	border-bottom-color: #337AB7;
	color: #FFF;
}

/** beneficios **/
.nav-beneficios {
	border-bottom: none !important;
}

.nav-beneficios .nav-link.active {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: #4275B1;
    border: 3px solid;
}

.nav-link {
    padding: .5rem .5rem .5rem .5rem !important;
    color: #000;
    display: inline-flex !important;
}

#quienessomos, #beneficios, #ubicanos{
	margin: 0px;
	margin-top: 5%;
}

.progress{
	height: 1px;
	border-radius: 0px;
}

.progress-aserfi{
	margin: -0.5rem;
    height: 1rem;
    position: absolute;
}

.servicios-img{
	width: 75% !important;
}

.btn-return{
	position: fixed;
  	bottom: 0;
  	right: 0;
  	width: 16px;
}

.div-quienessomos{
	margin-left: auto;
}

.img-quienessomos{
	position: absolute;
  	right: 0px;
}


/*Contacto*/

.mui-textfield--float-label>label {
    color: rgba(0,0,0) !important;
}

/** ubicanos **/

.bg-ubicanos{
	background-color: rgb(0, 72, 119, 0.3);
	position: relative;
}

.bg-ubicanos:hover{
	background-color: none;
}


.fundador{
	/*text-align: right !important;*/
	color: #000;
}

.bg-aserfi-video{
	background-color: #03293E;
}